.CenterText {
    text-align: center;
}

footer {
    box-shadow: #4E6974 0px 0px 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #4E6974;
    width: 100%;
}

header {
    box-shadow: #4E6974 0px 0px 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #4E6974;
}

.CenterCenterText {
    text-align: center;
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
}

h3 { 
    font-family: 'Jost Light';
}

h1 { 
    font-size: 40px;
    font-family: 'Jost';
}

p {
    font-family: 'Jost';
    font-size: 20px;
}

h2 {
    font-family: 'Jost';
    font-size: 30px;
}

.HeaderButton {
    cursor: pointer;
    color: #C6DAE1;
    text-align: center;
    height: 30px;
    width: 70px;
    border: 2px solid #2C2D31;
    margin-left: 45px;
    transition: all .2s;
    scale: 1.5;
    font-family: 'Jost';
    background-color: #579192;
}

.HeaderButton:hover {
    color: #e6c9ca;
    border-radius: 10px;
    background-color: #579192;
}

.MainButton {
    text-decoration: none;
    cursor: pointer;
    transition: all .2s;
    font-family: 'Jost';
    font-size: 50px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background: none;
    color: #C6DAE1;
    text-align: center;
    border: 5px solid #2C2D31;
    border-radius: 10px;
}

.MainButton:hover {
    font-size: 70px;
    border: 0px solid #579192;
    color: #e6c9ca;
}

.ImageButton {
    cursor: pointer;
    transition: all .1s;
    width: 70px;
    height: 70px;
    border: 3px solid #579192;
    border-radius: 100px;
    background-image: url('https://i.postimg.cc/T2gMCTqQ/Solve-Phesics.png');
    background-size: cover;
}
.ImageButton:hover {
    border: 8px solid #579192;
    box-shadow: #579192 0px 0px 10px;
}

.fullscreen-div {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
}

.CenterDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.SimpleBtn {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Jost';
    font-size: 20px;
    color: #C6DAE1
}

.SimpleBtn:hover {
    color: #e6c9ca;
}

label {
    background-color: #4E6974;
    transition: all .2s;
    text-decoration: none;
    padding-left: 8px; padding-right: 8px;
    border: 3px solid #2C2D31;
    cursor: pointer;
    font-family: 'Jost';
    font-size: 25px;
    color: #C6DAE1
}

input[type='radio'] {
    display: none;
}

label:hover {
    border-radius: 20px;
    border: 3px solid #383a3f;
    color: #e6c9ca;
}

input[type=radio]:checked + label {
	background: #28334d;
    border-radius: 20px;
}