{% extends "Base.html" %}

{% block title %}
<title> Решу ФИЗИКУ! | О НАС </title>
{% endblock %}

{% block body %}
<div class = 'fullscreen-div' style = 'display: flex; justify-content: center; margin-top: 160px; width: 100%'>
    <div style = 'width: 50%;'>
        <h1 style = 'text-align: center; color: #C6DAE1'>О нас</h1>
        <p style = 'color: #2C2D31'>"Швап"(англ. Shvap) - команда начинающих разработчиков из России, базирующаяся в основном на разработке одиночных компьютерных игр. Однако, отдельные участники команды работают над различными проектами, включающими в себя приложения, сайты и т.д. </p>
        <p style = 'color: #2C2D31'>"Решу ФИЗИКУ!" - как раз один из сторонних проектов команды.</p>
        <h1 style = 'text-align: center; color: #C6DAE1'> О проекте "Решу ФИЗИКУ!"</h1>
        <p style = 'color: #2C2D31'>Приложение "Решу Физику" было разработано с одной важной целью — помочь школьникам эффективно подготовиться к экзаменам, включая ЕГЭ и ОГЭ по физике. Недавний опрос, проведенный АНО "Институт прогрессивного образования", показал, что более 70% учеников 9-х и 11-х классов сталкиваются с проблемой нехватки времени для качественной подготовки. Именно для того, чтобы решить эту проблему, и было создано приложение "Решу Физику" — оно помогает оптимизировать процесс учебы, учитывая реальные потребности школьников.  </p>
        <p style = 'color: #2C2D31'>В приложении представлены разнообразные учебные материалы, включая теоретический раздел и практические задания. В приложении можно найти всё: от простых тестовых вопросов до задач с развернутыми ответами — каждый учащийся может не только проверить свои знания, но и улучшить навыки решения различных типов задач. Это особенно важно для того, чтобы уверенно чувствовать себя на экзамене.  Стоит отметить, что приложение охватывает широкий спектр тем, что позволяет фокусироваться на тех областях физики, которые вызывают у ученика наибольшие трудности. Такой подход делает процесс подготовки более целенаправленным и эффективным.</p> 
        <p style = 'color: #2C2D31'>Кроме того, "Решу Физику" не имеет аналогов среди образовательных приложений, что позволяет сделать конкуренцию минимальной. Это значит, что приложение является действительно уникальным продуктом на рынке. Уникальные методики и системный подход к обучению делают его незаменимым инструментом для подготовки, особенно в условиях нехватки времени. </p>
        <p style = 'color: #2C2D31'>Таким образом, это приложение — идеальный помощник для учеников, стремящихся не только углубить свои знания, но и повысить уверенность в своих силах перед экзаменами. "Решу Физику" превращает процесс подготовки в более увлекательный, продуктивный и гибкий, подстраиваясь под потребности каждого школьника.</p>
        <h1 style = 'text-align: center; color: #C6DAE1'>Контакты и обратная связь:</h1>
        <p style = 'color: #2C2D31'>Почта: ShvapFL@yandex.ru, shvarev.egor.a@yandex.ru </p>
        <p style = 'color: #2C2D31'> Телефон: +7-950-466-47-20</p>
        <p style = 'color: #2C2D31'> Социальные сети: @ShvarevEgor(Telegram), shvap.studio(Discord), Шварёв Егор(VK)</p>
        <h1 style = 'text-align: center; color: #C6DAE1'>Где нас найти?</h1>
        <p style = 'color: #2C2D31'> <a href = 'https://shvap.itch.io/'>Itch.io</a>, <a href = 'https://store.steampowered.com/curator/45124553'>Steam</a>,<a href = 'https://vk.com/shvapgames?from=groups'>VK</a>, <a href = 'https://t.me/shvapgames'>Telegram</a>, YouTube, Discord, VKPlay, Gamejolt, Newgrounds, NUUM, RuTube, Boosty</p>
        <br><br><br><br><br><br><br><br>
    </div>
</div>

{% endblock %}
