{% extends "Base.html" %}

{% block title %}
<title> Решу ФИЗИКУ! | СКАЧАТЬ ПРИЛОЖЕНИЕ </title>
{% endblock %}

{% block body %}

<div class = 'CenterDiv'>
    <div style = 'display: flex; justify-content: center; width: 500px; height: 200px; border: 4px solid #2C2D31; border-radius: 20px; align-items: center; box-shadow: #4E6974 0px 0px 30px; background-color: #4E6974'>
        <div style='margin-right: 10px'><img src = 'https://i.postimg.cc/Y94kW6Gb/Wndws.png' style = 'height: 150px; width: 150px;'></div>
        <div style = 'display: block; text-align: center; padding-right: 20px; color: #1f1f1f'>
            <h2 style='margin-bottom:3px; margin-top: 6px; color: #1f1f1f'> Последняя версия </h2>
            <p style='margin-bottom:3px'> Версия: 1.0.1, Дата: 10.03.2025 </p>
            <a style='margin-bottom:3px' class ='SimpleBtn' href = 'https://disk.yandex.ru/d/jlMuLD2Q3kwHFA'>СКАЧАТЬ</a>
        </div>
    </div>
    <div style = 'display: block; text-align: center;'>
        <h2 style = 'color: #1f1f1f'>Другие версии:</h2>
        <a class ='SimpleBtn' href = 'https://disk.yandex.ru/d/jlMuLD2Q3kwHFA'>Версия 1.0.4, Дата: 09.03.2025, Платформа: Windows</a> <br>
        <a class ='SimpleBtn' href = 'https://disk.yandex.ru/d/jlMuLD2Q3kwHFA'>Версия 1.0.3, Дата: 08.03.2025, Платформа: MAC OS</a><br>
        <a class ='SimpleBtn' href = 'https://disk.yandex.ru/d/jlMuLD2Q3kwHFA'>Версия 1.0.2, Дата: 07.03.2025, Платформа: Linux</a><br>
        <a class ='SimpleBtn' href = 'https://disk.yandex.ru/d/jlMuLD2Q3kwHFA'>Версия 1.0.1, Дата: 05.03.2025, Платформа: Android</a><br>
    </div>
</div>

{% endblock %}