{% extends "Base.html" %}

{% block title %}
<title> Решу ФИЗИКУ! | ДЛЯ САМЫХ МАЛЕНЬКИХ </title>
{% endblock %}

{% block body %}

<div class = 'CenterCenterText Text'>
    <h1 class = 'SimpleText White'>Игры для детей:</h1>
    <div class = 'ArticleFeed'> 
        <h1 class = 'SimpleText White'>Покорители космоса!</h1>
        <p>Простая игра, помогающая детям в игровой форме узнать интересную информацию о планетах Солнечной системы</p>
        <a href = '/OpenGame' class = 'links'>Играть!</a>
    </div>
</div>

{% endblock %}
