{% extends "Base.html" %}

{% block title %}
<title> Решу ФИЗИКУ! | ГЛАВНАЯ СТРАНИЦА </title>
{% endblock %}

{% block body %}

<div class = 'CenterCenterText Text'>
    <h1 style = 'margin-bottom:50px; scale: 3; color: #C6DAE1;'>Решу ФИЗИКУ!</h1> 
    <p style = 'width: 880px; color: #C6DAE1'>Приложение <i>"Решу Физику"</i> было разработано с одной важной целью — помочь школьникам эффективно подготовиться к экзаменам, включая <i>ЕГЭ и ОГЭ по физике</i>. В приложении представлены разнообразные учебные материалы, включая теоретический раздел и практические задания. Чтобы открыть конвертор физ. величин, нажмите сочетание клавиш "Alt+С"</p>
    <a href = '/SolvePt' class="MainButton">Решать!</a>
</div>

{% endblock %}
