{% extends "Base.html" %}

{% block title %}
<title> Решу ФИЗИКУ! | ЗАДАЧИ </title>
{% endblock %}

{% block body %}

<div class = 'CenterDiv' style = 'width: 40%; display: block; text-align:center'>
    <h1 style = 'margin-bottom:20px; color: #C6DAE1; '>Какой металл обычно используют при строительстве самолётов знаменитой фирмы "Boing"?</h1>
    <div style = 'display: flex; align-items: center; justify-content: center; margin-bottom: 40px; gap: 40px'>
        <input id = 'rad1' type='radio' name ='1' value = 'answer1'> <label for = 'rad1'> Титан</label> <br> <br> 
        <input id = 'rad2' type='radio' name ='1' value = 'answer2'> <label for = 'rad2'> Алюминий</label> <br> <br> 
    </div>
    <div style = 'display: flex; align-items: center; justify-content: center; gap: 40px'>
        <input id = 'rad3' type='radio' name ='1' value = 'answer3'> <label for = 'rad3'> Магний</label> <br> <br> 
        <input id = 'rad4' type='radio' name ='1' value = 'answer4'> <label for = 'rad4'> Сталь</label> <br> <br> 
    </div>
</div>
<br> <br><br> <br><br> <br><br> <br><br> <br>

{% endblock %}